<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>トップページ</title>
</head>
{% extends 'base.html' %}
    {% block content %}
        <body>
            <h1>🌻記事一覧</h1>
            {% for article in article_list %}
            <p>
                <a href="{% url 'blog:article_detail' article.pk %}">タイトル：{{ article.title }} / {{ article.created_at }}</a>
            </p>
            {%  for tag_name in article.tags.all %}
            {{ tag.name }}
            {% endfor %}
            <div>　本文：{{ article.text }}</div>
            {% endfor %}
        </body>
{% endblock %}
</html>